<template lang="pug">
.bg-gray
  .container.grid-lg
    header.navbar
      section.navbar-section
        nuxt-link.btn.btn-link(to='/') Home
      section.navbar-section
        nuxt-link.btn.btn-link(v-if='!isLoggedIn', to='/signin') Sign in
        nuxt-link.btn.btn-link(v-if='!isLoggedIn', to='/signup') Sign up
        a.btn.btn-link.text-light(v-if='isLoggedIn', @click='signout') Sign out
</template>

<script>
export default {
  computed: {
    isLoggedIn() {
      return !!this.$store.state.user;
    },
  },
  methods: {
    async signout() {
      try {
        await this.$store.dispatch('signout');
        this.$router.push('/');
      } catch (err) {
        console.log('Failed to signout');
      }
    },
  },
};
</script>

<style lang='scss' scoped>
@import '../assets/variables';

.navbar {
  padding: 0.8rem 0;

  a {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.8rem;
  }
}
</style>
