
// Main colors
$primary-color: #0d47a1;
//$primary-color-dark
//$primary-color-light
//$secondary-color: #8D8741;
//$secondary-color-dark
//$secondary-color-light
$success-color: #007E33;
$warning-color: #FF8800;
$error-color: #CC0000;
$light-color: #FFFFFF;
$gray-color-light: #F3F3F3;
$gray-color: #E7E6E4;
$gray-color-dark: #EFEEEC;
$dark-color: #393939;

// Element colors
$bg-color-light: $light-color;
$bg-color: $gray-color-light;
$bg-color-dark: $gray-color;
//$body-bg
$border-color: $gray-color-dark;
//$border-color-dark
//$code-color
//$body-font-color
//$link-color
//$link-color-dark
//$parallax-fade-color
