<template lang="pug">
div
  .container.grid-lg
    .columns
      .column.col-4.col-mx-auto
        h1 Sign up
        form(@submit.prevent='signup')
          .form-group(v-bind:class='{ "has-error" : hasError("email") }')
            label.form-label Email
            input.form-input(type='text', v-model='email', placeholder='Email')
            p.form-input-hint(v-if='hasError("email")') {{ errors.email[0] }}
          .form-group(v-bind:class='{ "has-error" : hasError("password") }')
            label.form-label Password
            input.form-input(type='password', v-model='password', placeholder='Password')
            p.form-input-hint(v-if='hasError("password")') {{ errors.password[0] }}
          button.btn.btn-primary.mt-2(type='submit') Sign up
</template>

<script>
import validate, { signupConstraints } from '~/../shared/validation';

export default {
  data() {
    return {
      email: '',
      password: '',
      errors: null,
      showErrors: false,
    };
  },
  watch: {
    email: function () {
      this.validate();
    },
    password: function () {
      this.validate();
    },
  },
  methods: {
    validate() {
      const { email, password } = this;
      this.errors = validate({ email, password }, signupConstraints);
    },

    hasError(fieldName) {
      if (this.showErrors && this.errors) {
        return !!this.errors[fieldName];
      }
      return false;
    },

    async signup() {
      this.validate();
      this.showErrors = true;
      if (this.errors) {
        return;
      }

      try {
        const { email, password } = this;
        await this.$store.dispatch('signup', { email, password });
        this.$router.push('/');
      } catch (err) {
        if (err.code === 'emailAlreadyExists') {
          this.errors = { email: [err.message] };
        } else {
          console.log(err);
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  margin-top: 15vh;
}

.form-input-hint {
  margin-bottom: 0;
}

button.btn {
  margin-top: 1rem;
}
</style>
