<template lang="pug">
div
  .container.grid-lg
    .columns
      .column.col-4.col-mx-auto
        h1 Sign in
        form(@submit.prevent='signin')
          .form-group(v-bind:class='{ "has-error" : hasError("email") }')
            label.form-label Email
            input.form-input(type='text', v-model='email', placeholder='Email')
            p.form-input-hint(v-if='hasError("email")') {{ errors.email[0] }}
          .form-group(v-bind:class='{ "has-error" : hasError("password") }')
            label.form-label Password
            input.form-input(type='password', v-model='password', placeholder='Password')
            p.form-input-hint(v-if='hasError("password")') {{ errors.password[0] }}
          button.btn.btn-primary.mt-2(type='submit') Sign in
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      errors: null,
    };
  },
  watch: {
    email: function () {
      if (this.errors && this.errors.email) delete this.errors.email;
    },
    password: function () {
      if (this.errors && this.errors.password) delete this.errors.password;
    },
  },
  methods: {
    hasError(fieldName) {
      if (this.errors) {
        return !!this.errors[fieldName];
      }
      return false;
    },

    async signin() {
      try {
        await this.$store.dispatch('signin', {
          email: this.email,
          password: this.password,
        });
        this.$router.push('/');
      } catch (err) {
        if (err.code === 'emailNotFound') {
          this.errors = { email: [err.message] };
        } else if (err.code === 'wrongPassword') {
          this.errors = { password: [err.message] };
        } else if (err.code === 'emailAndPasswordIsRequired') {
          this.errors = {
            email: ['Email is required'],
            password: ['Password is required'],
          };
        } else {
          console.log(err);
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  margin-top: 15vh;
}

.form-input-hint {
  margin-bottom: 0;
}

button.btn {
  margin-top: 1rem;
}
</style>
